# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env
.env.development
.env.test
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log

# Cache
.eslintcache
.stylelintcache

# Drizzle specific
# DO NOT IGNORE migration files - they should be committed
# /src/lib/db/migrations/